body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Header CSS */

header {
  background-image: url("./images/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 0 8rem;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin: 0 15px;
  cursor: pointer;
}

nav ul li:hover {
  color: #02519f;
}

header section {
  display: flex;
  justify-content: right;
  align-items: center;
}

.header-section {
  text-align: right;
  width: 40%;
}

.header-section h1 {
  font-size: 3.5rem;
}

.header-section button {
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #02519f;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}

/* Main CSS  */

.main-first-section {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.main-first-section img {
  width: 30%;
}

.main-first-section div {
  width: 30%;
}

.main-first-section div h1 {
  font-size: 2rem;
  padding-right: 180px;
}

.main-first-section div p {
  padding-right: 50px;
}

.main-first-section div ul {
  padding: 0px;
}
.main-first-section div ul li {
  list-style: none;
}

.main-first-section div ul li span {
  color: green;
  margin-right: 5px;
}

.main-second-section {
  padding: 5rem 8rem;
}
.main-second-section h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.main-second-section > div {
  display: flex;
  justify-content: center;
  text-align: center;
}

.main-second-section div img {
  width: 15%;
}

.main-third-section {
  border-radius: 8px;
  margin: 5rem 8rem;
  padding: 3rem;
  background-image: url("/images/gradient.png"), url("/images/watch.png");
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  color: white;
}

.main-third-section button {
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #02519f;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}

/* Footer CSS */

footer {
  display: flex;
  justify-content: space-around;
  background-color: #333333;
  color: white;
  padding: 5rem 0;
}

.footer-first-section,
.footer-second-section {
  width: 30%;
}

.footer-first-section h1 {
  font-size: 2rem;
}

.footer-first-section div img {
  width: 8%;
  margin-right: 10px;
}

.footer-second-section input {
  display: block;
  margin-bottom: 8px;
  border-radius: 8px;
  border: 1px solid white;
  padding: 15px 10px;
  width: 80%;
  background-color: #333333;
  color: white;
}

.footer-second-section button {
  border: none;
  border-radius: 5px;
  background-color: #02519f;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}
